#everything {
	background-image: url('media/Background2.png');
	background-size: 100% auto;
	background-attachment: fixed;
	position: absolute;
	top: 0%;
	left: 0%;
}

@font-face {
font-family: "Chrono Trigger";
src: url("https://wnfrkx.github.io/eport/fonts/3/curtain_call-webfont.woff") format("woff");
}

@font-face {
font-family: "Apple Kid";
src: url("https://wnfrkx.github.io/eport/fonts/3/warioland4chmc-vape-webfont.woff") format("woff");
}

.x325-762 { background-image: url('frame/325x762.png'); }
.x325-891 { background-image: url('frame/325x891.png'); }
.x498-633 { background-image: url('frame/498x633.png'); }
.x498-684 { background-image: url('frame/498x684.png'); }
.x498-703 { background-image: url('frame/498x703.png'); }
.x498-884 { background-image: url('frame/498x884.png'); }
.x498-931 { background-image: url('frame/498x931.png'); }
.x498-1055 { background-image: url('frame/498x1055.png'); }
.x992-109 { background-image: url('frame/1017x148.png'); }
.x992-178 { background-image: url('frame/1017x215.png'); }
.x992-247 { background-image: url('frame/1017x282.png'); }
.x1017-500 { background-image: url('frame/1017x500.png'); }
.x1017-600 { background-image: url('frame/1017x600.png'); }
.x1017-720 { background-image: url('frame/1017x720.png'); }

.chronTrig {
	font-family: Chrono Trigger;
	color: white;
	font-size: 75px;
	line-height: 0.9;
}

.curtCall {
	font-family: Curtain Call;
}

.appKid {
	font-family: Apple Kid;
	font-size: 30px;
}

.bigFont {
	font-size: 50px;
}

#unBruhMomento {
	width: 100%;
	box-sizing: border-box;
}

.column-5 {
	margin: 0% 1%;
	padding: 0%;
	box-sizing: border-box;
	display: inline-block;
	width: 180px;
	height: 360px;
	background-color: white;
}

.column-4 {
	margin: 0% 1%;
	padding: 0%;
	box-sizing: border-box;
	display: inline-block;
	width: 230px;
	height: 345px;
	background-color: white;
}